body{
    background-color: rgb(230, 228, 228);
    margin: 0px;
}
@media screen and (min-width:500px){
    body{
        overflow-x: hidden;
    }
}
/* NAV */
.maths{
    display: none;
}
@media screen and (min-width:500px){
    .maths{
        display: inline-block;
    }
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    color: blue;
    height: 70px;
    width: 100vw;
    cursor: pointer;
    box-shadow: 3px 4px 5px inset,3px -4px 5px inset;
    /* position: sticky;
    top: 0px; */
}
.other_subjects{
    display: none;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    padding: 20px;
    background-color: beige;
    z-index: 2;
    box-shadow: -3px 3px 3px inset black,3px 3px 3px inset black;
}
nav button{
    font-size: 1rem;
}

/* WELCOME ARTICLE */
.welcome_article{
    display: flex;
    align-self:center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.instruction_start{
    color: rgb(252, 248, 248);
}
.welcome_article a{
    color: white;
}
/* GUIDE */
.guide{
    text-align: center;
    background-color: aquamarine;
    padding: 2em;
    margin-bottom: 2em;
    border: 1px solid turquoise;
    border-radius: 30px;
    box-shadow: 20px 20px 40px yellow inset;
    color: blue;
}

#counter{
    font-size: xx-large;
        color: red;
}
#start{
    margin-top: 15px;
    background-color: blueviolet;
    color: white;
}
/* JS MANIPULATION */
.flex{
    display: flex;
}
.reduce_gap{
    gap: 2px;
}

/* MAIN */
main{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 221, 241);
    border-radius: 30px;
    justify-content: center;
    margin-bottom: 100px;
}
@media screen and (max-width:250px) {
    main{
        overflow: scroll;
    }
}
.reduce_btn{
    background-color: blue;
    color: white;
}
#loading{
    text-align: center;
    color: blue;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 2px;
    justify-content: center;
}
#number{
    color: red;
    background-color: rgb(98, 0, 255);
    text-align: center;
}
#section{
    color: green;
}
#question{
    color: blue;
    background-color: rgb(234, 229, 240);
    text-align: center;
}
.option{
    color: rgb(7, 11, 253);
    background-color: rgb(9, 247, 108);
    border: 3px solid blue;
}
.label{
    display: inline-block;
}
@media screen and (min-width:700px){
    .option:hover{
        background: red;
    }
}

 /* NAVIGATION i.e PREVIOUS, SUBMIT, NEXT */
 #nav_btns{
    display: flex;
    margin: 1.2em;
}
#back{
    background-color: red;
}
#submitter{
    background-color: blue;
    color: white;
    border-radius: 2px;
}
#next{
    background-color: yellow;
}
/* THE CHECKBOXES THAT INDICATION ANSWERED & CURRENT QUESTIONS */
#checkbox_container{
    display: grid;
    margin:2px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr ;
}
span{
    background-color:red;
    color: aqua;
    font-size: 1.5rem;
}

/* TELEGRAM LINK */
.tele_link{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 200px;
    text-align: center;
    background-color: aquamarine;
    font-size: 3rem;
    border-radius: 30px;
    box-shadow: 10px 30px 40px yellow inset,-10px -30px 40px red inset;
}
.tele{
    border-radius: 5px;
    margin: auto 25px;
}
/* ALL ARTICLES */
article{
    background-color: blue;
    padding: 50px;
    font-size: larger;
    color: aqua;
    margin: 2em 0px;
}
/* SUBMIT */
.score{
    font-size: x-large;
}
.result_btns{
    background-color: aqua;
    color:blue;
    border: 2px solid yellow;
}
/* CORRECTIONS */
.result{
    text-align: center;
}
.correct_answer{
    color: white;
}
.choosen{
    color: yellow;
}

/* ALL BUTTONS */
button:hover{
    background-color: red;
}

/* FOOTER */
footer{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(29, 28, 27);
    margin-top:2em;
}

